.chart-container{
    display:flex;
    align-items:flex-end;
    gap:10px;
    overflow-x:auto;
    padding:20px 10px;
}

.bar-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
}

.bar{
    width:22px;
    min-height:15px;
    border-radius:8px;
    background:#d6d6d6;
    transition:.3s;
}

.bar.completed{
    background:#4caf50;
}

.bar:hover{
    transform:scaleY(1.05);
}

small{
    margin-top:8px;
    font-size:12px;
}