<div class="card shadow-sm mb-3">
    <div class="card-body">
        <h4>{{ habit.title }}</h4>
        <p>{{ habit.description }}</p>
        <span class="badge bg-primary">
            {{ habit.frequency }}
        </span>
        <hr>
        <button class="btn btn-success me-2" (click)="complete.emit(habit._id)">
            Complete
        </button>
        <button class="btn btn-warning me-2" (click)="edit.emit(habit._id)">
            Edit
        </button>
        <button class="btn btn-danger" (click)="delete.emit(habit._id)">
            Delete
        </button>
    </div>
</div>